@model IEnumerable<TaskManagement.Models.ViewModel.TaskModel>

<div class="container">


    <h2 class="text-center">TaskView</h2>
    <input />
    <p>
        @Html.ActionLink("Home Page", "Student", "Student")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                Action
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>

                <td>
                    @Html.CheckBox("complete", htmlAttributes: new { @class = "checkbox", onclick = "disableAfterCheck()" })
                    <label class="label">                       
                    </label>
                </td>
            </tr>
        }

    </table>

</div>

<script>

    var checkbox = document.getElementsByClassName('checkbox');
    var label = document.getElementsByClassName('label');
    for (var i = 0; i < checkbox.length; i++) {
        label[i].innerHTML = "Pending"
        label[i].style.color = "red"
    }

    function disableAfterCheck() {
        for (var i = 0; i < checkbox.length; i++) {
            if (checkbox[i].checked) {
                label[i].innerHTML = "Complete"
                label[i].style.color="green"
                checkbox[i].disabled = true;
            }
          
        }
    }
</script>